<!-- Photos -->
{% comment %}
Expects following parameters: photo-gallery-data
{% endcomment %}
<div class="row">
    {% for photo-set in include.photo-gallery-data %}
    <div class="col-xs-12">
        <h2>{{ photo-set.name }}</h2>
    </div>
    <div class="col-xs-12 d-flex text-center">
        {% for photo in photo-set.photos %}
        <div style="text-align: center; width: 230px; margin: 20px;">
            <a href="{{ photo-set.src-dir | relative_url }}/{{ photo }}" target="_blank">
                <img class="photo" src="{{ photo-set.thumbnails-dir | relative_url }}/{{ photo }}" 
                style="height: auto; max-width: 230px; max-height: 230px;">
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>